<div *ngIf="view === 'full'" class="item" (click)="openModalWithComponent()">
  <div class="thumbnail">
    <img [src]="news.image | safe" alt="{{news.name}}" title="{{news.name}}">
    <div class="caption">
      <h3>{{news.name}}</h3>
      <p class="text-right">{{news.datePublished | date:"dd/MM/yyyy"}}</p>
      <p>{{news.description | slice:0:150}}...</p>
    </div>
  </div>
</div>
<div *ngIf="view === 'short'" class="item" (click)="openModalWithComponent()">
  <h5>{{news.name}} - {{news.datePublished | date:"dd/MM/yyyy"}}</h5>
</div>
