<div class="infinite-scroller" appInfiniteScroller [scrollTarget]="'page'" scrollPerecnt="70" [immediateCallback]="true" [scrollCallback]="scrollCallback">
  <app-event-item  *ngFor="let event of events" [event]="event" [view]="'full'"></app-event-item>
</div>
<div *ngIf="reqInProcess" class="text-center">Loading...</div>

