<div class="wrapper" id="wrapper">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">
          <ul class="nav navbar-nav">
            <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/">Home</a></li>
            <li routerLinkActive="active"><a routerLink="/news">News</a></li>
            <li routerLinkActive="active"><a routerLink="/events">Events</a></li>
          </ul>
        </div>
        <div class="col-sm-offset-2 col-sm-6">
          <app-search></app-search>
        </div>
      </div>
    </div>
  </nav>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
  <div style="height: 50px"></div>
</div>
