<div class="infinite-scroller" appInfiniteScroller [scrollTarget]="'page'" scrollPerecnt="70" [immediateCallback]="true" [scrollCallback]="scrollCallback">
  <app-news-item *ngFor="let news of news" [news]="news" [view]="'full'"></app-news-item>
</div>
<div *ngIf="reqInProcess" class="text-center">Loading...</div>
