<div *ngIf="view === 'full'" class="item" (click)="openModalWithComponent()">
  <div class="thumbnail">
    <img [src]="event.image | safe" alt="{{event.name}}" title="{{event.name}}">
    <div class="caption">
      <h3>{{event.name}}</h3>
      <p class="text-right">{{event.dateStart | date:"dd/MM/yyyy"}}</p>
      <p>{{event.description | slice:0:150}}...</p>
    </div>
  </div>
</div>
<div *ngIf="view === 'short'" class="item" (click)="openModalWithComponent()">
  <h5>{{event.name}} - {{event.dateStart | date:"dd/MM/yyyy"}}</h5>
</div>
