<div class="row">
  <div class="col-sm-6">
    <p *ngIf="!news">loading...</p>
    <app-news-item *ngFor="let news of news | orderBy : ['-datePublished']" [news]="news" [view]="'full'"></app-news-item>
    <a *ngIf="news" routerLink="/news">All News</a>
  </div>
  <div class="col-sm-6">
    <p *ngIf="!events">loading...</p>
    <app-event-item *ngFor="let event of events | orderBy : ['-dateStart']" [event]="event" [view]="'full'"></app-event-item>
    <a *ngIf="events" routerLink="/events">All Events</a>
  </div>
</div>
