<div class="modal-header">
  <h4 class="modal-title pull-left">{{data.name}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div [ngSwitch]="type">
  <div *ngSwitchCase="'event'">
    <div class="modal-body">
      <div><img height="75" [src]="data.image | safe" alt="{{data.name}}" title="{{data.name}}"></div>
      <p class="text-right">start date: {{data.dateStart | date:"dd/MM/yyyy"}}</p>
      <p class="text-right">end date: {{data.dateEnd | date:"dd/MM/yyyy"}}</p>
      <p>{{data.description}}</p>
    </div>
  </div>
  <div *ngSwitchCase="'news'">
    <div class="modal-body">
      <div><img height="75" [src]="data.image | safe" alt="{{data.name}}" title="{{data.name}}"></div>
      <p class="text-right">{{data.datePublished | date:"dd/MM/yyyy"}}</p>
      <p>{{data.description}}</p>
    </div>
  </div>
  <div *ngSwitchDefault>

  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Close</button>
</div>
