.navbar-form {
  position: relative;
}
.navbar-form .form-control {
  width: 100%;
}
.search-result {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 0 15px;
}
.search-content {
  background: #fff;
  box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  padding: 5px 15px;
}
.search-content p {
  margin-bottom: 0;
}
.search-result {
  display: none;
}
.navbar-form .form-control:focus + .search-result {
  display: block;
}
.navbar-form:hover .search-result {
  display: block;
}
