<div class="navbar-form">
  <input type="text" class="form-control" placeholder="Search" [(ngModel)]="query" (keyup)="doSearch()">
  <div class="search-result">
    <div class="search-content">
      <div *ngIf="searchResult && !searching && searchAllowed">
        <div *ngFor="let item of searchResult | orderBy : ['-sortableDate']">
          <app-news-item *ngIf="item.type === 'news'" [news]="item" [view]="'short'"></app-news-item>
          <app-event-item *ngIf="item.type === 'event'" [event]="item" [view]="'short'"></app-event-item>
        </div>
      </div>

      <p *ngIf="!searchResult.length && searchStarted && !searching && searchAllowed">nothing found...</p>
      <p *ngIf="!searchAllowed">please, type at least two charters</p>
      <p *ngIf="searching">searching...</p>
    </div>
  </div>
</div>
